<html>
    <head>
        <meta charset="UTF-8">
        <title>BIS634 Final Project by Yining Chen</title>
    </head>  
    <style>
        body{background: url(../static/pics/bg.gif);background-size:contain;}
    </style>   
    <body>
        <h1 style="text-align:center">
            BIS 634 Final Project: Diabetes Prediction</h1>
        <hr>
        <center>
        <h2>About Dataset</h2> 
        
        <p>
            This dataset is originally from the National Institute of Diabetes and Digestive and Kidney
Diseases. 
        </p>
        <p>
            The objective of the dataset is to diagnostically predict whether a patient has diabetes,
based on certain diagnostic measurements included in the dataset.
        </p>
        <a href="https://www.kaggle.com/datasets/whenamancodes/predict-diabities">
            Click to check the original dataset from Kaggle
        </a>
       
        <h2>Target Demographic Group</h2>
        <p>
            In particular, all patients here are females at least 21 years old of Pima Indian heritage.
        </p>
        <h2>
            Variables Table
        </h2>
        <table border="1">
            <tr>
                <th>Variable name</th>
                <th>Descriptions</th>
                <th>Mean</th>
                <th>Standard Deviation</th>
            </tr>
            <tr>
                <td>Pregnancies</td>
                <td>To express the Number of pregnancies</td>
                <td>3.84</td>
                <td>3.37</td>
            </tr>
            <tr>
                <td>Glucose</td>
                <td>To express the Glucose level in blood</td>
                <td>120.89</td>
                <td>31.97</td>
            </tr>
            <tr>
                <td>BloodPressure</td>
                <td>To express the Blood pressure measurement</td>
                <td>69.11</td>
                <td>19.36</td>
            </tr>
            <tr>
                <td>Skin Thickness</td>
                <td>To express the thickness of the skin</td>
                <td>20.54</td>
                <td>15.95</td>
            </tr>
            <tr>
                <td>Insulin</td>
                <td>To express the Insulin level in blood</td>
                <td>79.80</td>
                <td>115.24</td>                
            </tr>
            <tr>
                <td>BMI</td>
                <td>To express the Body mass index</td>
                <td>31.99</td>
                <td>7.88</td>                
            </tr>
            <tr>
                <td>Diabetes Pedigree Function</td>
                <td>To express the Diabetes percentage</td>
                <td>0.47</td>
                <td>0.33</td>                
            </tr>                                                
            <tr>
                <td>Age</td>
                <td>To express the age</td>
                <td>33.24</td>
                <td>11.76</td>                
            </tr> 
            <tr>
                <td>Outcome</td>
                <td>To express the final result 1 is Yes and 0 is No</td>
                <td>0.35</td>
                <td>-</td>                
            </tr> 
        </table>
        <br>
        <hr>
        <form action="/data" method="GET">
        <h3>
            If you want to do data exploration and visualization, please click:
        </h3>
            
            <input style="font-size:18px" type="submit" value="Let's Explore the dataset !"><br>
                <img src="static/pics/bird2.png" alt="i2" width="200" height="200">
        </form>
        <hr>
        <form action="/info" method="GET">
           
            <h3>
                If you want to do predicion, please choose a method for diabetes prediction and submit
            </h3>
            <select style="font-size:18px" name="models">
                <option>K-Nearest Neighbors Prediction Model</option>
                <option>Logistic Regression Prediction Model</option>
                <option>Random Forest Prediction Model</option>
                <option>XGBoost Prediction Model</option>
            </select>
            <p></p>
            <h3>
                Please select the value of k if you are choosing KNN method: (Recommended k = 4)
            </h3>
            <select style="font-size:18px" name="K-Nearest">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>   
                <option>7</option>
                <option>8</option>                              
            </select> 
            <p></p>           
            <input style="font-size:20px" type="submit" value="Submit">
       
       </form>
    <img src="static/pics/dog.png" alt="i1" width="350" height="220">
    <hr>
        <form action="/predict" method="GET">
           
            <h3>
                Input patient's record to check whether they have potential risk of diabetes:
            </h3>
            
                Number of Pregnancies:<br>
                <input type = "text" name = "preg"></input><br>
                Glucose Level:<br>
                 <input type = "text" name = "glu"></input><br>
                BloodPressure:<br>
                <input type = "text" name = "bp"></input><br>
                Skin Thickness:<br>
                <input type = "text" name = "st"></input><br>
                Insulin Level:<br>
                <input type = "text" name = "i"></input><br>
                BMI:<br>
                <input type = "text" name = "bmi"></input><br>
                Diabetes Pedigree Function:<br>
                <input type = "text" name = "dpf"></input><br>
                Age:<br>
                <input type = "text" name = "age"></input><br><br>
            <input style="font-size:20px" type="submit" value="Submit">
       </form>
</center>  
<hr>
    <center>
    <p>&copy; 2022 by Yining Chen</p>
    </center> 
</body>
</html>
