
<html>
    <head>
        <meta charset="UTF-8">
        <title>KNN</title>
    </head>  
    <style>
        body{background: url(../static/pics/bg.gif) no-repeat;background-size:cover;}
    </style>   
    <body>
        <h1 style="text-align:center">
            <br>
            Diabetes Prediction: K-Nearest Neighbors Prediction Model</h1>
        </h1>
        <center>
        <h2>
            ( K = {{k_val}} )
        </h2>
        </center>
        <hr>
        <h2>What is K-Nearest Neighbors? </h2>
        <p style="font-size:20px">
            <br>
            K-nearest neighbors (KNN) classification is a method for classifying data points based on their proximity to other points in a dataset. It is a type of supervised learning, which means that the data used to train the model includes labeled examples. <br>
            <br>
            In KNN classification, the algorithm looks for a set of data points in the training set that are closest (in terms of distance) to a new data point, and uses the classification of those points to make a prediction about the new data point. The number of data points used to make the prediction is specified by the user and is called the "K" value. For example, if the K value is 3, the algorithm will look for the 3 data points in the training set that are closest to the new data point and use the majority classification of those points to make a prediction about the new data point. <br>
            <br>
            KNN classification is often used for applications where it is important to classify data points based on their similarity to other points in the dataset. It is simple to implement and can be effective for a wide range of classification tasks, although it can be computationally expensive for very large datasets. <br> <br>
            
            <center>
                <a href="https://www.geeksforgeeks.org/k-nearest-neighbors-with-python-ml/">
                    Click 
                </a> to learn how to implement KNN classifier using Python
                <br><br>
        <img src="static/pics/knn_1.gif" alt="knn_1" width="500" height="300" loop=infinite>
        <img src="static/pics/knn2.png" alt="knn_2" width="500" height="300" loop=infinite>
            </center>
        <br><br>
        <h2>K-Nearest Neighbors Training Data Result:</h2>
        <center>
        <h3 style="font-size:22px">Confusion Matrix</h3>
        <table border= "1" style="font-size:18px">
            <tr>
                <th></th>
                <th>&emsp; &emsp; Normal &emsp; &emsp;</th>
                <th>&emsp; &emsp; Diabetes &emsp; &emsp;</th>
            </tr>
            <tr>
                <th>&emsp; &emsp; Normal &emsp; &emsp;</th>
                <th>{{ul_1}}</th>
                <th>{{ur_1}}</th>
            </tr> 
            <tr>
                <th>Diabetes</th>
                <th>{{ll_1}}</th>
                <th>{{lr_1}}</th>
            </tr> 
        </table>
        <h3 style="font-size:22px">Classification Report</h3>
        <table border="1">
            
            <tr>
                <th></th>
                <th>&emsp; 0 &emsp;</th>
                <th>&emsp; 1 &emsp;</th>
                <th>&emsp; macro avg &emsp;</th>
                <th>&emsp; micro avg &emsp;</th>
                <th>&emsp; weighted avg &emsp;</th>
            </tr>
            <tr>
                <th>&emsp; precision &emsp;</th>
                <th>{{report_train.iloc[0][0]}}</th>
                <th>{{report_train.iloc[0][1]}}</th>
                <th>{{report_train.iloc[0][2]}}</th>
                <th>{{report_train.iloc[0][3]}}</th>
                <th>{{report_train.iloc[0][4]}}</th>
            </tr>  
            <tr>
                <th>recall</th>
                <th>{{report_train.iloc[1][0]}}</th>
                <th>{{report_train.iloc[1][1]}}</th>
                <th>{{report_train.iloc[1][2]}}</th>
                <th>{{report_train.iloc[1][3]}}</th>
                <th>{{report_train.iloc[1][4]}}</th>
            </tr>   
            <tr>
                <th>f1-score</th>
                <th>{{report_train.iloc[2][0]}}</th>
                <th>{{report_train.iloc[2][1]}}</th>
                <th>{{report_train.iloc[2][2]}}</th>
                <th>{{report_train.iloc[2][3]}}</th>
                <th>{{report_train.iloc[2][4]}}</th>
            </tr>   
            <tr>
                <th>support</th>
                <th>{{report_train.iloc[3][0]}}</th>
                <th>{{report_train.iloc[3][1]}}</th>
                <th>{{report_train.iloc[3][2]}}</th>
                <th>{{report_train.iloc[3][3]}}</th>
                <th>{{report_train.iloc[3][4]}}</th>
            </tr>                                              
        </table>
        </center>

        <h2>K-Nearest Neighbors Testing Data Result:</h2>
        <center>
        <h3 style="font-size:22px">Confusion Matrix</h3>
        <table border= "1" style="font-size:18px">
            <tr>
                <th></th>
                <th>&emsp; &emsp; Normal &emsp; &emsp;</th>
                <th>&emsp; &emsp; Diabetes &emsp; &emsp;</th>
            </tr>
            <tr>
                <th>&emsp; &emsp; Normal &emsp; &emsp;</th>
                <th>{{ul}}</th>
                <th>{{ur}}</th>
            </tr> 
            <tr>
                <th>Diabetes</th>
                <th>{{ll}}</th>
                <th>{{lr}}</th>
            </tr> 
        </table>
        <h3 style="font-size:22px">Classification Report</h3>
        <table border="1">
            <tr>
                <th></th>
                <th>&emsp; 0 &emsp;</th>
                <th>&emsp; 1 &emsp;</th>
                <th>&emsp; macro avg &emsp;</th>
                <th>&emsp; micro avg &emsp;</th>
                <th>&emsp; weighted avg &emsp;</th>
            </tr>
            <tr>
                <th>&emsp; precision &emsp;</th>
                <th>{{report.iloc[0][0]}}</th>
                <th>{{report.iloc[0][1]}}</th>
                <th>{{report.iloc[0][2]}}</th>
                <th>{{report.iloc[0][3]}}</th>
                <th>{{report.iloc[0][4]}}</th>
            </tr>  
            <tr>
                <th>recall</th>
                <th>{{report.iloc[1][0]}}</th>
                <th>{{report.iloc[1][1]}}</th>
                <th>{{report.iloc[1][2]}}</th>
                <th>{{report.iloc[1][3]}}</th>
                <th>{{report.iloc[1][4]}}</th>
            </tr>   
            <tr>
                <th>f1-score</th>
                <th>{{report.iloc[2][0]}}</th>
                <th>{{report.iloc[2][1]}}</th>
                <th>{{report.iloc[2][2]}}</th>
                <th>{{report.iloc[2][3]}}</th>
                <th>{{report.iloc[2][4]}}</th>
            </tr>   
            <tr>
                <th>support</th>
                <th>{{report.iloc[3][0]}}</th>
                <th>{{report.iloc[3][1]}}</th>
                <th>{{report.iloc[3][2]}}</th>
                <th>{{report.iloc[3][3]}}</th>
                <th>{{report.iloc[3][4]}}</th>
            </tr>                                              
        </table>
        <p></p>
        </center>
        <h3 style="font-size:22px">
            Analysis 
        </h3>
        <h4>
            Precision Interpretation:
            </h4>
        <p style="font-size:18px">
            As for our training data, the accuracy of the prediction model is <b>{{accuracy_trained}}</b>.<br>
            As for our testing data, the accuracy of the prediction model is <b>{{accuracy_test}}</b>. <br>
        </p>
        <h4>
            Confusion Matrix Interpretation:
            </h4>
        <p style="font-size:18px">
            As for training data, <br>
            There are <b> {{ul_1}} </b> normal people correctly predicted as normal and there are <b> {{ur_1}} </b> noramal people incorrectly labeled as diabetes. <br>
            There are <b> {{ll_1}} </b> diabetes incorrectly labeled as normal, and there are <b> {{lr_1}} </b> diabetes correctly labeled as diabetes. <br><br>
            As for testing data, <br>
            There are <b> {{ul}} </b> normal people correctly predicted as normal and there are <b> {{ur}} </b> noramal people incorrectly labeled as diabetes. <br>
            There are <b> {{ll}} </b> diabetes incorrectly labeled as normal, and there are <b> {{lr}} </b> diabetes correctly labeled as diabetes. <br>
        </p>
            
        <h3>
            Choosing various k value would affect the accuracy of our prediction. Using the test data, we generate the plot: 
            </h3>
            
        <center>
        <p>
            <img src="static/pics/knn3.png" alt="knn" width="700" height="500">
        </p>     
        <br>
        <h4>
            From the graph, we can see when k = 4, we could reach the best accuracy.
            </h4>
        <br><br>         
        <a style="font-size:20px" href="http://127.0.0.1:5000/" target="_self">Return Home</a>
    </center>
    <hr>
    <center>
    <p>&copy; 2022 by Yining Chen</p>
    </center>
    </body>
</html>