
<html>
    <head>
        <meta charset="UTF-8">
        <title>diabetes</title>
    </head>  
    <style>
        body{background: url(../static/pics/bg.gif) no-repeat;background-size:cover;}
    </style>   
    <body>
        <h1 style="text-align:center">
            <br>
            Diabetes Prediction Result: (Using Logitic Regression Model)</h1>
        </h1>
        <hr>
        <center>
        <p style="font-size:22px">
            According to our model, it's <b style="color:purple;">highly possible </b>that you have early diabetes.
            Please go to the doctor and do a check-up.
            Good luck!
        </p>
        <br><br>
        <img src="static/pics/checkup.gif" alt="nice" width="480" height="360" loop=infinite>
             <br><br>  
        <a style="font-size:20px" href="http://127.0.0.1:5000/" target="_self">Return Home</a>
    </center>
    <hr>
    <center>
    <p>&copy; 2022 by Yining Chen</p>
    </center>
    </body>
</html>